.section {
  scroll-margin: 50px;
}

.section-title {
  position: relative;
}

.section-title::after {
  content:'';
  position: absolute;
  width: 1em;
  height: 3px;
  background: #000;
  bottom: 0;
  left: 0;
  margin: auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: 0.5s;
  background-color: gray;
}

#main {
  margin-left: 300px;
  transition: 0.5s;
}

@media (max-width: 991.98px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

.header-active {
  overflow: hidden;
}

.header-active #header {
  left: 0;
}

.sidebar {
  z-index: 10000;
}